@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="dedication"] p:first-child{
	font-style: italic;
	margin: 3em;
	text-align: center;
}

[epub|type~="z3998:salutation"]{
	text-indent: 0;
	margin-top: 1em;
}

[epub:type~="z3998:signature"]{
	text-align: right;
}

[epub|type~="dedication"] [epub:type~="z3998:signature"]{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:song"] + p{
	text-indent: 0;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}
