@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="dedication"]{
	margin-top: 20vh;
}

[epub|type~="dedication"] header{
	font-style: italic;
	margin: 3em;
	text-align: center;
}

[epub|type~="dedication"] > p:first-of-type + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	margin-top: 1em;
	text-indent: 0;
}

[epub|type~="dedication"] > p:first-of-type,
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="dedication"] [epub|type~="z3998:signature"]{
	margin-top: 1em;
}

[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
